# Prerequisites
*.d
.idea/

# CMake build
build/CMakeFiles/
build/cmake_install.cmake
build/CMakeCache.txt
build/Makefile
build/SentimentAnalyzer

# output
result.txt

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
